<!DOCTYPE html>
<html land="ja">
  <head>
    {{> head }}
    <title>{{ article.title }} | Cry for the Moon</title>
    {{ article_ogp_meta_tags article }}
  </head>
  {{> header }}
  <div id="content_wrapper">
    <body>
      <div id="main" role="main">
        <article class="border">
          <hgroup>
            <date datetime="{{ convert_to_iso8601 article.date }}">
              {{ article.date }}
            </date>
            <h1>
              {{ article.title }}
            </h1>
            {{> social_buttons }}
            {{> article_html }}
          </hgroup>
        </article>
      </div>
    {{> menu_column }}
    </body>
  </div>
</html>
